@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* button cursor hover */
button,a{
    cursor: pointer;
}

/* first contact section */
.container1{
    width: 87%;
    height: 50px;
    background-color: rgb(22,126,165);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;   
}


.childcon1{
    display: flex;
    gap: 20px;
    background-color: rgb(22,126,165);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


.childcon1 i{
    padding:10px;
}

/* Title Section */
.container2{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    background-color: whitesmoke;
}


.container2 img{
    margin-top: 10px;
    height: 90px;
}

#rev{
    border-radius: 50px;
}

.chill2a{
    margin-left: 30px;
}

.chill2b{
    color: rgb(22,126,165);
    margin-top: 25px;
    text-align: center;
}

#rev1{
    border-radius: 50%;
}



/* === Nav bar section==== */
.container3{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
     box-shadow: 1px 1px 1px black;
}




/* ====== About section ======= */
.container4{
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}


.about1{
    margin-left: 40px;
    margin-top: 30px;
}
#tsmap{
    height: 320px;
    width: 320px;
}

.about2{
    margin-top: 20px;
    border-radius: 20px;
    height: 300px;
    width: 400px;
    border: 1px solid rgb(102, 100, 100);
    padding-left: 20px;
    padding-top: 30px;
    line-height: 20px;
    background-color: whitesmoke;
}

#Abo{
color: rgb(22,126,165);
}
#abop{
    margin-top: 20px;
    text-align: justify;
    padding-right: 10px;
}
#abopa{
display: inline-block;
margin-top: 10px;
color: rgb(22,126,165);
}

.about3{
    margin-top: 20px;
    border-radius: 20px;
    height: 300px;
    width: 400px;
    border: 1px solid rgb(102, 100, 100);
    padding-left: 20px;
    padding-top: 30px;
    line-height: 20px;
    background-color: whitesmoke;
    text-transform: capitalize;
}
.about3 h3{
    color: rgb(22,126,165);
}
.about3 p{
    padding-top: 20px;
}
.about3 button{
    border: none;
    background-color:rgb(22,126,165);
    color:white;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    margin-top: 20px;
    margin-left: 300px;
}
hr{
    margin-top: 5px;
    margin-right: 7px;
}


/* ==== Info section ========== */
.container5{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    text-transform: uppercase;
}
.container5 img{
    height: 100px;
    width: 100px;
}


/* ======= founders section */
.container6{
    width: 100%;
    height: 250px;
    display: flex;
}

/* .in{
    display: flex;
} */
.container6 img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 30px;
}

.infoo{
    height: 200px;
    width: 650px;
    display: flex;
    text-align: justify;
    margin-left: 50px;
    box-shadow:-1px 1px 5px 0.1px black;  
    border-radius: 20px;
}

.infoo h3{
    margin-top: 50px;
    margin-left: 0px;
    color:rgb(22,126,165);
}
.infoo p{
    margin-right: 20px;
    color: rgb(123, 125, 125);
}

.infoo1{
    height: 200px;
    width: 650px;
    display: flex;
    border: 1px solid black;
    text-align: justify;
    margin-left: 50px; 
    box-shadow:0px 0px 10px  black;  
    border-radius: 20px;   
}
.infoo1 h3{
    margin-top: 50px;
    margin-left: 0px;
    color:rgb(22,126,165);
}
.infoo1 p{
    margin-right: 20px;
    word-spacing: px;
    color: rgb(123, 125, 125);
}

/* Coourse section */
.container7{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-attachment:fixed;
    overflow: scroll;
    padding: 20px;
    gap: 15px;
    visibility: visible;
    padding-left: 300px;
    scroll-behavior: smooth;
}



.eng{
    height: 320px;
    width: 320px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: -1px 1px 5px 0.6px rgb(0, 0, 0);

}

.eng img{
    width: 320px;
    background-size:cover;
    border-radius: 25px 25px 0px 0px;
   
}

.eng h4{
    margin-left: 10px;
    margin-top: 10px;
    color:rgb(22,126,165);
}

.eng p{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

#kd{
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    color:rgb(22,126,165);
}


/*       our partners section */
.container8{
    height: 200px;
    width: 100%;
    text-align: center;
}
.ourt{
    display: flex;
    margin-left: 700px;
    margin-top: 100px;
    gap: 10px;
}
#partner{
    color:rgb(22,126,165); 
}
#ourimg{
    height: 60px;
    width: 300px;
    display: flex;
    margin-left: 220px;
    margin-top: 40px;
    animation-name: marq;
    animation-duration: 779s;
}

@keyframes marq{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-550px);
    }
}

#btnour{
    background-color:rgb(22,126,165);
    border: none;
    height: 40px;
    width: 60px;
    color: white;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
}


/* ==== New pacement section */
.newplace{
    display: flex;
    margin-left: 670px;
    gap: 10px;
}
.container9{
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    overflow-x: auto;
}
.container9::-webkit-scrollbar{
    display: none;
}

.marquee{
    display: flex;
    animation-name: scroll;
    animation-duration: 5s;
    animation:scroll 10s infinite linear;
    animation-direction: normal;
}
@keyframes scroll{
from{translate: 0;}
to{translate: -200%;}
}

.newplacement{
    height: 50px;
    width: 150px;
    margin-top: 40px;
    margin-left: 40px;
}

/*  New event SEction */

.container10{
    height: 350px;
    width: 100%;
    background-color: rgb(8,51,68);   
    color: white;
}

.newevent{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-top: 60px;
    padding-right: 90px;
}

.class1{
    height: 400px;
    width: 100%;
    display:flex;
    margin-left: 100px;
    margin-top: 50px;
    gap: 25px;
}

.newchilld{
    height: 150px;
    width: 430px;
    border: 1px solid rgb(131, 130, 130);
    display: flex;
    border-radius: 15px;
}
.newchilld{
    display: flex;
}

.date{
    margin-left: 15px;
    margin-top: 35px;
    height: 70px;
    width: 70px;
    background-color:rgb(22,126,165);
    text-align: center;
    padding-top: 10px;
    border-radius: 15px;
}

.cont{
    margin-left: 15px;
    margin-top: 40px;
    margin-right: 10px;
    text-transform: capitalize;
    text-align: justify;
}

/*  =========== Gallery ========= */

.container11{
    height: 400px;
    width: 100%;
    background-color: rgb(231,242,246);
}

.container11 h2{
    color:rgb(14, 132, 174);
    padding-top: 50px;
    text-align: center;
}
.galleryimg{
    height: 200px;
    width: 300px;
    margin-left: 10px;
    border-radius: 15px;
}
.garry{
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 150px;
    display: flex;
    overflow-x: scroll;
}

.garry::-webkit-scrollbar{
    display: none;
}

/* ============== Videos section ============ */
.container12{
    height: 400px;
    width: 100%;
}
.container12 h2{
    text-align: center;
    padding-top: 80px;
}

.feedback{
    height: 200px;
    width: 300px;
    margin-left: 30px;
    border-radius: 10px;
}

.vedios{
    margin-top: 50px;
    margin-left: 50px;  
}


/* Testimonials selction */

.container13{
    height: 520px;
    width: 100%;
    background-color: rgb(22,126,165);
}

.container13 h2{
    text-align: center;
    color: white;
    padding-top: 60px;
}


.msgtext{
    display: flex;
    margin-top: 50px;
}


.msgtext p{
    width:550px;
    height: 260px;
    border: 1px solid whitesmoke;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    position: relative;
    margin-left:50px;
}


.msgtext p::after {
    content: "";
    position: absolute;
    bottom: -15px; /* place below the box */
    left: 50%; /* center horizontally */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid whitesmoke; /* color of the pointer */
}

.main{
    display: flex;
    color: white;
}

.msgp{
    margin-left: 320px;
    margin-top: 30px;
}

.msgp p{
    color: rgb(212, 207, 207);
    font-size: 12px;
}

.msgp1{
    margin-left: 350px;
    margin-top: 30px;
}

.msgp1 p{
    color: rgb(212, 207, 207);
    font-size: 12px;
}

/* Channels sectioon */
.container14{
    height: 400px;
    width: 100%;
}

.container14 h2{
    text-align: center;
    padding-top: 50px;
}
.channels{
    margin-top: 50px;
    margin-left: 10px;
}
.chanals1{
    height: 200px;
    width: 350px;
    margin-left: 20px;
    border-radius: 15px;
}

/* contact section */
.container15{
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
}

.maincon{
    display: flex;
    justify-content: space-around;
}

.contact{
    height: 300px;
    width: 350px;
    margin-top: 30px;
}
.contact p{
    font-size: 14px;
    text-align: justify;
}
#task{
    height: 200px;
    width: 200px;
}

.contact1{
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 60px;
    line-height: 45px;
}

.contlins h3{
    color: rgb(108, 108, 108);
}
.contkinks2{
    margin-top: 45px;
    margin-left: 40px;
}

.addresss{
    margin-top: 100px;
    line-height: 30px;
    font-size: 14px;
    width: 250px;
}

.addresss img{
    height: 50px;
    width: 180px;
    margin-top: 15px;
}

#finalp{
    text-align: center;
    margin-top: 40px;
    margin-left: 130px;
}


